# Optional: defaults to ./context
GIG_FINDER_CONTEXT_ROOT=
GIG_FINDER_MEETING_PARTICIPANT_MIGRATION=
DEV_API_PORT=3101

# Web process configuration
HOST=127.0.0.1
PORT=3000
STATIC_ROOT=
APP_REVISION=

# Model configuration
OPENAI_API_KEY=

# Local logging
LOG_LEVEL=debug
